<ng-sidebar-container>

  <ng-sidebar [(opened)]="sidebarOpened" [dock]="false">
    <div id="sidebar-wrapper">
      <div class="sidebar-content">
        <div *ngIf="terrainSelected">
          <div class="font-weight-bold list-group-item">
            Terrain {{ terrainSelected.osmId }}
          </div>
          <div class="list-group-item">
            <a href="{{ terrainSelected.osmUrl }}" target="_blank">OpenStreetMap</a>
          </div>
          <div class="list-group-item">
            <a href="{{ terrainSelected.googleMapsUrl() }}" target="_blank">Google Maps</a>
          </div>
          <div *ngFor="let image of terrainSelected.images" class="pt-3 list-group-item">
            <img  src="{{ image.url }}" class="img-fluid">
          </div>
          <div class="text-center list-group-item">
            <button type="button" class="btn btn-primary" (click)="openUploadImageModal(template)">Upload image</button>
          </div>
        </div>
      </div>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content class="page-content-wrapper">

    <aol-map (onClick)="onMapClick($event)" (onMoveEnd)="onMapMove($event)">

      <aol-interaction-default></aol-interaction-default>

      <aol-view [zoom]="zoom">
        <aol-coordinate [x]="longitude" [y]="latitude" [srid]="'EPSG:4326'"></aol-coordinate>
      </aol-view>

      <aol-layer-tile>
        <aol-source-osm [tilePixelRatio]="2"></aol-source-osm>
      </aol-layer-tile>

      <aol-layer-vector *ngIf="terrainSelected">
        <aol-style>
          <aol-style-circle [radius]="1.8 * markerRadius">
            <aol-style-stroke [color]="'black'" [width]="markerStrokeWidth"></aol-style-stroke>
            <aol-style-fill [color]="'#e3453f'"></aol-style-fill>
          </aol-style-circle>
        </aol-style>
        <aol-source-vector>
          <aol-feature [id]="terrainSelected.osmId">
            <aol-geometry-point>
              <aol-coordinate
                  [x]="terrainSelected.location.lon"
                  [y]="terrainSelected.location.lat"
                  [srid]="'EPSG:4326'">
              </aol-coordinate>
            </aol-geometry-point>
          </aol-feature>
        </aol-source-vector>
      </aol-layer-vector>

      <aol-layer-vector>
        <aol-style>
          <aol-style-circle [radius]="markerRadius">
            <aol-style-stroke [color]="'blue'" [width]="markerStrokeWidth"></aol-style-stroke>
            <aol-style-fill [color]="'#42a1f5'"></aol-style-fill>
          </aol-style-circle>
        </aol-style>
        <aol-source-vector>
          <aol-feature *ngFor="let terrain of terrainsVisible" [id]="terrain.osmId">
            <aol-geometry-point>
              <aol-coordinate
                  [x]="terrain.location.lon"
                  [y]="terrain.location.lat"
                  [srid]="'EPSG:4326'">
              </aol-coordinate>
            </aol-geometry-point>
          </aol-feature>
        </aol-source-vector>
      </aol-layer-vector>

    </aol-map>

  </div>

</ng-sidebar-container>

<div class="toggle-sidebar text-right" [ngClass]="{ 'collapsed': !sidebarOpened }">
  <div class="btn-toggle-sidebar btn btn-sm btn-primary" (click)="onSidebarToggle()">
    <i class="fa" [ngClass]="{ 'fa-chevron-right': !sidebarOpened, 'fa-chevron-left': sidebarOpened }"></i>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Image Upload</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalUploadImageRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-terrain-upload-image [terrainId]="terrainSelected.id"></app-terrain-upload-image>
  </div>
</ng-template>
