<ng-sidebar-container>

  <ng-sidebar [(opened)]="sidebarOpened" [dock]="false">
    <div id="sidebar-wrapper">
      <div class="sidebar-content">
        <div *ngIf="terrainSelected" class="list-group-item">
          <div class="font-weight-bold">
            Terrain {{ terrainSelected.osmId }}
          </div>
          <div>
            <a href="{{ terrainSelected.osmUrl }}" target="_blank">OpenStreetMap</a>
          </div>
          <div>
            <a href="{{ terrainSelected.googleMapsUrl() }}" target="_blank">Google Maps</a>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let terrain of terrainsVisible">
            {{ terrain.osmId }}
          </li>
        </ul>
      </div>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content class="page-content-wrapper">

    <aol-map (onClick)="onMapClick($event)" (onMoveEnd)="onMapMove($event)">

      <aol-interaction-default></aol-interaction-default>

      <aol-view [zoom]="zoom">
        <aol-coordinate [x]="longitude" [y]="latitude" [srid]="'EPSG:4326'"></aol-coordinate>
      </aol-view>

      <aol-layer-tile>
        <aol-source-osm></aol-source-osm>
      </aol-layer-tile>

      <aol-layer-vector>
        <aol-style>
          <aol-style-circle [radius]="4">
            <aol-style-stroke [color]="'black'" [width]="1"></aol-style-stroke>
            <aol-style-fill [color]="'green'"></aol-style-fill>
          </aol-style-circle>
        </aol-style>
        <aol-source-vector>
          <aol-feature *ngFor="let terrain of terrainsVisible" [id]="terrain.osmId">
            <aol-geometry-point>
              <aol-coordinate
                  [x]="terrain.location.lon"
                  [y]="terrain.location.lat"
                  [srid]="'EPSG:4326'">
              </aol-coordinate>
            </aol-geometry-point>
          </aol-feature>
        </aol-source-vector>
      </aol-layer-vector>

    </aol-map>

  </div>

</ng-sidebar-container>

<div class="toggle-sidebar text-right" [ngClass]="{ 'collapsed': !sidebarOpened }">
  <div class="btn-toggle-sidebar btn btn-sm btn-primary" (click)="onSidebarToggle()">
    <i class="fa" [ngClass]="{ 'fa-chevron-right': !sidebarOpened, 'fa-chevron-left': sidebarOpened }"></i>
  </div>
</div>
