ng-sidebar-container {
  height: $sidebar-height !important;
}

.ng-sidebar {
  width: $sidebar-width;
}

#sidebar-wrapper {
  height: $sidebar-height;
}

.sidebar-content {
  height: $sidebar-height;
  background-color: $body-bg;
}

.toggle-sidebar {
  top: 70px;
  left: $sidebar-width;
  position: absolute;
  transition: left 0.3s;

  &.collapsed {
    left: 0;
  }
}

.btn-toggle-sidebar {
  padding: 0.5rem 0.25rem;
  border-radius: 0;
  opacity: 0.8;
}

.page-content-wrapper {
  height: $sidebar-height;
  width: 100%;
  padding: 0;
  position: relative;
}
